.separator {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    width: 100%;
}

.separator_line {
    height: 1px;
    display: block;
}

.separator_ornament {
    font-size: 10px;
    flex-shrink: 0;
    line-height: 1;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 20px;
}