.portfolio {
    background-color: var(--charcoal);
    padding: 8rem 10rem;
}

.carousel {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 500px;  /* Augmente la hauteur pour images plus grandes */
    max-width: 500%;
    margin: 0 auto;
}

.inner {
    display: flex;
    transition: transform 0.3s ease-in-out;
    height: 100%;
    width: 1500px;
    margin-left: 33.33%;
}

.slide {
    flex: 0 0 33.33%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 15px;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: filter 0.3s ease, opacity 0.3s ease;
}

.slide.inactive img {
    filter: blur(5px);
    opacity: 0.5;
}

.slide.active img {
    filter: blur(0);
    opacity: 1;
}

button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 20px;
    z-index: 10;
}

button:first-of-type {
    left: 20px;
}

button:last-of-type {
    right: 20px;
}